<article class="post-item">
	<% if (post.link || post.title){ %>
		<%- partial('post/title') %>
	<% } %>
	<% if (post.excerpt && index){ %>
	<p>
		<%- strip_html(post.excerpt) %>
	</p>
	<% if (theme.excerpt_link){ %>
	  <p class="post-more-link">
	    <a href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
	  </p>
	<% } %>
	<% } else { %>
	<%if (is_post()) { %>
		<ul class="post-meta">
			<li>
				<label>Posted On:</label> 
				<%- partial('post/date', {date_format: 'MMM D YYYY'}) %>
			</li>
			<li style="display:none">
				<label>Categorized As:</label> 
				<%- partial('post/category') %>
			</li>
			<li>
				<label>Tagged As:</label>
				<%- partial('post/tag') %>
			</li>
			<li>
				<label>Share On:</label>
				<ul class="share">
		    		<li>
		    			<a href="#" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=<%- page.permalink %>', 'Share on Facebook', 'width=626,height=436'); return false;"><i class="fa fa-facebook-square fa-2"></i></a> 
		    		</li>
		    		<li>
		    			<a href="#" onclick="window.open('https://twitter.com/share?text=<%- post.title %>&via=stevenwaters86', 'Share on Twitter', 'width=626,height=436'); return false;"><i class="fa fa-twitter-square fa-2"></i></a>
		    		</li>	
		    	</ul>
			</li>
		</ul> <!-- .post-meta -->
	<% } %>
	<%- post.content %>
	<%if (is_post()) { %>
		<!-- Start Disqus Thread Container -->
		<div id="disqus_thread"></div>
	    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
	    <!-- End Disqus Thread Container -->
    <% } %>
    <% if (is_post()){ %>
    	<%- partial('post/nav') %>
    <% } %>
	<% } %>
</article> <!-- .post-item -->

